@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@100&family=Montserrat&family=Poppins:wght@300&display=swap');

* {
    transition: .5s;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 100px;
    height: 60px;
    align-items: center;
    background: white;
    width: 90%;
}

.logo {
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 40px;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo:hover {
    font-size: 37px;
}

.list {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 120px;
}

nav ul li a {
    padding: 0px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color:rgb(50, 50, 50);
}

.projectdesc {
    height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(-50deg, #091E53, #2547AD, #122B71, #1C388D);
    animation: colors 15s ease-in-out infinite;
}

@keyframes colors {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 50% 100%;
}
100% {
    background-position: 0% 50%;
}
}

.projectdesc h1, p {
    color: white;
}

.description {
    padding-top: 150px;
}

.divreturn {
    display: flex;
    justify-content: center;
}

.return {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 7px 12px;
    background: black;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.return:hover {
    cursor: grab;
}