@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@100&family=Montserrat&family=Poppins:wght@300&display=swap');

* {
    transition: .5s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
    scroll-behavior: smooth;
}

body {
    background: #000000;
}

body a {
    text-decoration: none;
}

/* Project Section */
.projectdesc {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-size: 300% 300%;
    background-image: linear-gradient(-50deg, #041A49, #062974, #020f2b);
    animation: colors 10s ease-in-out infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.description {
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
}

.text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
}

.text > h1 {
    text-align: center;
    font-weight: 900;
}

.text p, .text ul li {
    width: 20em;
    text-align: justify;
}

.divreturn {
    text-align: center;
}

.divreturn > a {
    background: #000000;
    color: #FFFFFF;
    padding: .6em;
    border-radius: .5em;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.divreturn > a:hover {
    font-size: 18px;
}

@media screen and (max-width:600px) {

/* Project Section */
.projectdesc {
    max-height: auto;
}

.description {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
}

.description iframe {
    max-width: 426px;
    max-height: 240px;
}

.text {
    font-size: 16px;
    margin-bottom: 1.5em
}

.divreturn > a {
    font-size: 16px;
}

}