.curriculum {
    position: fixed;
    font-size: 1.2rem;
    display: flex;
    border: 1px solid #000;
    border-radius: 2rem;
    background: #FFF;
    color: #000;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1.5rem;
    z-index: 100;
    bottom: 3rem;
    right: 4rem;
    box-shadow: 5px 5px 10px #0007;
}

.curriculum > img {
    height: 1.5rem;
}