.footer-background {
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0px 10px #0006;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer h2 {
    text-decoration: underline;
}

.contact-card {
    padding: 1.5rem 0;
}

.contact-card a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-card a img {
    height: 3.5rem;
}