.footer-background {
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0px 10px #0006;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer h2 {
    text-decoration: underline;
    flex-grow: 1;
}

.social-media {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 2rem;
}

.contact-card {
    padding: 1.5rem 0;
}

.contact-card a {
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: .3s all ease-in-out;
}

.contact-card a:hover {
    scale: 105%;
}

.contact-card a {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.contact-card a img {
    height: 3.5rem;
}

@media screen and (max-width:1024px) {

    .footer {
        flex-direction: column;
        padding: 1rem 0;
    }

    .social-media {
        flex-wrap: wrap;
        justify-content: space-around;
    }

}