.aboutme-background {
    display: flex;
    align-items: center;
    min-height: 91vh;
    background-size: 300% 300%;
    background-image: linear-gradient(-50deg, #041A49, #062974, #020f2b);
    animation: blue-move 10s ease-in-out infinite;
}

@keyframes blue-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.aboutme {
    display: flex;
    flex-direction: column;
}

.aboutme h1 {
    font-size: 7rem;
    font-weight: 900;
    font-style: italic;
}

.aboutme h4 {
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    text-align: right;
}

.portfolio-background {
    color: var(--secondary-color);
}

.title-carousel {
    display: flex;
    gap: 1.5rem;
    padding: 4rem 0 2rem;
}

.title-carousel h2 {
    flex-grow: 1;
    font-size: 2.25rem;
}

.title-carousel button {
    background: #76b900;
    border: none;
    padding: 0 0.7rem;
    transition: all .5s ease-in-out;
}

.title-carousel img {
    height: 1rem;
}

.title-carousel button:hover {
    background: #AFA;
}

.portfolio-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    padding-left: calc(50vw - 650px);
    margin-bottom: 2rem;
}

.story p {
    font-size: 1.3rem;
    line-height: 1.7em;
    margin-bottom: 1rem;
}

.story ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.story ul li {
    padding: .5em 1em;
    border-radius: 10rem;
    background: var(--dark-blue);
    color: var(--primary-color);
}

.swiper {
    width: 100%;
}

/* .card {
    margin: 1rem 0;
} */

.card > div {
    box-shadow: 0 0 5px 0 #0009;
    margin: 10px;
}

/* .card:nth-last-child(1) {
    box-shadow: none;
} */

.card h4,
.card h3,
.card p {
    padding: 0 1rem;
}

.card img {
    width: 100%;
    padding-bottom: 1.5rem;
}

.card h4 {
    font-weight: 600;
    padding-bottom: .7rem;
}

.card h3 {
    font-size: 1.25rem;
    padding-bottom: .7rem;
}

.card p {
    line-height: 1.6em;
    padding-bottom: 2rem;
}

@media screen and (max-width:1400px) {

    .portfolio-content {
        padding-left: 50px;
    }

}

@media screen and (max-width:480px) {

    .portfolio-content {
        padding-left: 15px;
    }

}