@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@100&family=Montserrat&family=Poppins:wght@300&display=swap');

* {
    transition: .5s;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background: white;
    width: 100%;
}

.logo {
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 40px;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 100px;
}

.logo:hover {
    scale: 90%;
}

.list {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    padding-right: 100px;
}

nav ul li {
    margin: 0 120px;
}

nav ul li a {
    padding: 0px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color:rgb(50, 50, 50);
}

.aboutme {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 200px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: auto;
    background-size: 300% 300%;
    background-image: linear-gradient(-50deg, #091E53, #2547AD, #122B71, #1C388D);
    animation: colors 15s ease-in-out infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.slogan {
    padding: 0;
}

.slogan h2 {
    display: flex;
    align-items: center;
    font-family: 'Audiowide', cursive;
    color: white;
    font-size: 80px;
    margin: 0;
}

.slogan h4 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    font-size: 40px;
}

.myimage img {
    border-radius: 30px;
}

.section-title {
    padding: 150px 0px 80px 0px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 40px;
}

.myprojects {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(-50deg, #00154b, #091E53);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}

.projectlist {
    display: grid;
    grid-template-columns: repeat(3,  340px);
    grid-column-gap: 100px;
    justify-content: center;
    letter-spacing: 0px;
    font-size: 16px;
}

.project-conteiner {
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
}

.projectlist div {
    border-radius: 30px;
    padding: 20px 0px;
    text-align: center;
    background: rgba(0, 0, 50, 50%);
    max-width: 340px;
}

.projectlist > div:nth-child(odd){
    background: rgba(0, 0, 0, 50%);
}

.button {
    text-decoration: none;
    color: black;
    background: white;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    width: 160px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    color: rgb(30, 30, 30);
    font-size: 24px;
}

#projects img {
    border-radius: 30px;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-size: cover;
}

#projects h2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    padding: 10px 0;
    color: white;
    font-size: 30px;
}

#projects p {
    color: white;
    margin: 0 auto;
    font-family: 'Audiowide', cursive;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 10px;
    max-width: 290px;
    height: 120px;
}

footer {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

footer img {
    max-width: 40px;
    padding-right: 5px;
}

footer h1 {
    font-family: 'Bebas Neue', cursive;
    border-bottom: 3px solid blue;
    border-radius: 3px;
    letter-spacing: 2px;
}

footer h3 {
    color: rgb(5,5,5);
}

.contact-card {
    min-width: 150px;
    padding: 15px;
    margin: 20px 0;
    border-bottom: 3px solid blue;
    border-radius: 3px;
}

.contact-card a {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.contact-card a:hover {
    scale: 105%;
}

/*<?php include("index.html"); ?>*/