.aboutme-background {
    background-size: 300% 300%;
    background-image: linear-gradient(-50deg, #041A49, #062974, #020f2b);
    animation: blue-move 10s ease-in-out infinite;
}

@keyframes blue-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.aboutme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 93vh;
}

.aboutme h1 {
    font-size: 7rem;
    font-weight: 900;
    font-style: italic;
}

.aboutme h4 {
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    text-align: right;
}

/* PORTFOLIO */
.portfolio-background {
    color: var(--secondary-color);
}

.title-carousel {
    display: flex;
    align-items: center;
    padding: 4rem 0 2rem;
}

.title-carousel h2 {
    flex-grow: 1;
    font-size: 2.25rem;
}

.buttons-carousel {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.mobile {
    display: none;
}

.buttons-carousel button {
    background: var(--light-blue);
    border: none;
    padding: .5rem 0.7rem;
    transition: all .5s ease-in-out;
}

.buttons-carousel img {
    height: 1rem;
}

.buttons-carousel button:hover {
    filter: saturate(2);
}

.portfolio-content {
    display: flex;
    padding-left: calc(50vw - 650px);
    margin-bottom: 3rem;
}

.story {
    width: 30%;
}

.swiper-one {
    width: 70%;
}

.story p {
    font-size: 1.3rem;
    line-height: 1.7em;
    margin-bottom: 1.3rem;
}

.story ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
}

.story ul li {
    display: flex;
    gap: .5rem;
    padding: .5em 1em;
    border-radius: 10rem;
    background: var(--secondary-color);
    color: var(--primary-color);
}

.story ul li img {
    height: 1.3rem;
}

.swiper {
    width: 100%;
}

.card-margin {
    box-shadow: 0 0 5px 0 #0009;
    margin: 10px;
}

.card:nth-last-child(1) {
    box-shadow: none;
}

.portfolio-image {
    width: 100%;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 2rem;
}

.technologies img {
    height: 2.3rem;
    padding-bottom: .7rem;
}

.card h3 {
    font-size: 1.25rem;
    padding-bottom: .7rem;
}

.card p {
    line-height: 1.6em;
    padding-bottom: 1.5rem;
}

.project-info a {
    border: 1px solid var(--dark-blue);
    align-self: flex-end;
    padding: .3rem 1rem;
    border-radius: 10rem;
    transition: all .3s ease-in-out;
}

.project-info a:hover {
    background: var(--dark-blue);
    color: var(--primary-color);
}

@media screen and (max-width:1400px) {

    .portfolio-content {
        padding-left: 50px;
    }

}

@media screen and (max-width:768px) {

    .portfolio-content {
        flex-direction: column;
        gap: 2rem;
        padding: 0;
    }

    .portfolio-content > div {
        width: 100%;
    }

    .buttons-carousel {
        display: none;
    }
    
    .mobile {
        display: flex;
    }

}

@media screen and (max-width:480px) {

    .aboutme h1 {
        font-size: 5rem;
    }
    
    .aboutme h4 {
        font-size: 2rem;
    }

}