@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: #FFF;
    --secondary-color: #000;
    --light-blue: #00c8ff;
    --dark-blue: #001428;

    --site-util-width: min(100vw - 100px, 1300px);
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    color: var(--primary-color);
}

body {
    background: var(--primary-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

hr {
    color: #0005;
}

.wrapper {
    width: var(--site-util-width);
    margin-inline: auto;
}

@media screen and (max-width:1024px) {

    html {
        font-size: 16px;
    }

}

@media screen and (max-width:768px) {

    html {
        font-size: 14px;
    }

}

@media screen and (max-width:480px) {

    :root {
        --site-util-width: min(100vw - 30px, 1300px);
    }

    html {
        font-size: 12px;
    }

}